/vendor/**/.git
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


## Local helm chart for testing
test/drone/
test/bitcoind/
test/tomcat/

## In case I forget to delete temp folder
temp/
