# Folders

_obj
_test
_output
.kube
.idea
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


nginx-operator/
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


## Testing Purposes Only
test/drone/
test/bitcoind/

temp/
test-operator/
helm2go-operator-sdk